<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfedu.schedule.dao.ClassesDao">

    <resultMap id="classesMap" type="Classes">
        <id property="id" column="ID"/>
        <result property="name" column="NAME"/>
        <collection property="ClassRoom" column="classroom">
            <id property="id" column="ID"></id>
            <result property="name" column="NAME" />
        </collection>
    </resultMap>

    <select id="selectClassesById" resultMap="classesMap" >
        select ID,NAME from classes
        where ID=#{id}
    </select>

    <select id="selectClassesAll" resultMap="classesMap">
        select ID,NAME from classes

    </select>



</mapper>