<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssm.question.dao.UserDao">
    <insert id="addUser" >
        insert into user(username,password,nickname)
        values (#{username},#{password},#{nickname})
    </insert>
    <select id="getUserCountByName" resultType="int">
        select count(id) from user
        where username=#{username}
    </select>

    <resultMap id="userMap" type="User">
        <id property="id" column="id"/>
        <result property="nickname" column="nickname"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>

    </resultMap>

    <select id="getUserByName" resultMap="userMap">
        select id,username,nickname,password
        from user where username=#{username}

    </select>


</mapper>